<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Repostock{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen flex flex-col">
    {% block header %}
      {% include 'header.html' %}
    {% endblock %}

    <main class="flex-1 w-full">
      {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
