{% extends 'base.html' %}

{% block title %}Seleccionar tienda de destino - Repostock{% endblock %}

{% block content %}
   <table>
    <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Unidad</th>
        <th>Departamento</th>
        <th>Stock Deposito</th>
        <th>Exist. Min</th>
        <th>Exist. Max.</th>
        <th>Stock Detal</th>
        <th>Por trasladar</th>
    </tr>
    <!-- crea datos de prueba -->
     <tr>
        <td>001</td>
        <td>Producto A</td>
        <td>Unidad</td>
        <td>Alimentos</td>
        <td>100</td>
        <td>20</td>
        <td>200</td>
        <td>50</td>
        <td>30</td>
     </tr>
   </table>
{% endblock %}